@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/MyFsLayui/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/MyFsLayui/css/fs.css" media="all" />
    <script type="text/javascript" src="/MyFsLayui/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/fsDict.js?v=1.7.0"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/fs.js?v=1.7.0"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/frame.js?v=1.7.0"></script>
    <script>
        function ConvertTime(obj) {
            var time = new Date(parseInt(obj.substr(6)));
            return time.toLocaleDateString();
        };
    </script>
</head>
<body>
    <div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space1">
                <div class="layui-col-md12">
                    <!---构建查询区start -->
                    <div class="layui-form-query">
                        <form class="layui-form" id="query_form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-mid">请输入计划名称：</label>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="JiHuaMingChen" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">开始时间</label>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="KaiShiShiJian" autocomplete="off" class="layui-input fsDate" datetype="datetime">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">结束时间</label>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="JieShuShiJian" autocomplete="off" class="layui-input fsDate" datetype="datetime">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" type="button" function="query"><i class="layui-icon">&#xe615;</i>查询</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!---构建查询区end -->
                <div class="layui-col-md12">
                    <div class="layui-row grid-demo">
                        <div class="layui-col-md12">
                            <!--外部按钮通过function=top 打开窗口-->
                            <button class="layui-btn" function="top" topurl="/PaiKe/AddPage" topwidth="800px" ismaximize="0" topheight="600px" toptitle="添加排课计划">
                                <i class="layui-icon">&#xe654;</i>新增
                            </button>
                            <button class="layui-btn layui-btn-danger" function="submit" method="get" url="/PaiKe/DeleteManyId"
                                    ismutidml="1" isconfirm="1" confirmmsg="是否确定删除选中的数据？" inputs="JiHuaMingChen:">
                                <i class="layui-icon">&#xe640;</i>批量删除
                            </button>
                            <button class="layui-btn" function="refresh">
                                <i class="layui-icon">&#x1002;</i>刷新
                            </button>
                        </div>
                        <div class="layui-col-md12">
                            <!--表格占位符，通过设置html属性，异步构建表格-->
                            <table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isload="1"
                                   url="/PaiKe/ShowPage" ispage="1" pagesize="10" height="full-160"></table>
                            <!--定义列-->
                            列名
                            <div class="fsDatagridCols">
                                <p checkbox="true" />
                                <p type="numbers" title="序号" />
                                <p field="ID" title="编号" width="100" sort="true" />
                                <p field="JiHuaMingChen" title="计划名称" width="200" sort="true" />
                                <p field="KaiShiShiJian" title="开始时间" width="100" @*formatType="date"*@ templet="#stateTp2" />
                                <p field="JieShuShiJian" title="结束时间" width="100" @*formatType="date"*@ templet="#stateTp" />
                                <p field="ShiFouCaiYong" title="是否启用" width="100" templet="#stateTpl1" />
                                <p field="ShiFouWanCheng" title="是否完成" width="100" templet="#stateTp22" />
                                <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="220" />
                            </div>
                            <script type="text/html" id="stateTpl1">
                                <input type="checkbox" name="ShiFouCaiYong" lay-skin="switch" disabled lay-text="是|否" {{ d.ShiFouCaiYong ==true ? 'checked' : '' }}>
                            </script>
                            <script type="text/html" id="stateTp22">
                                <input type="checkbox" name="ShiFouWanCheng" lay-skin="switch" disabled lay-text="是|否" {{ d.ShiFouWanCheng ==true ? 'checked' : '' }}>
                            </script>
                            <script type="text/html" id="stateTp2">
                                <span>{{ ConvertTime(d.KaiShiShiJian) }}</span>
                            </script>
                            <script type="text/html" id="stateTp">
                                <span>{{ ConvertTime(d.JieShuShiJian) }}</span>
                            </script>
                            <!--定义操作列-->
                            <script type="text/html" id="barDemo">
                                <!--打开一个对话框  lay-event="top"-->
                                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="top" topurl="/PaiKe/Update"
                                   topwidth="800px" topheight="640px" toptitle="修改学生信息" inputs="ID:">修改</a>
                                <!--执行ajax提交  lay-event="submit"-->
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="submit" url="/PaiKe/Delete"
                                   isconfirm="1" method="get" confirmmsg="是否确定删除当前记录？" inputs="JiHuaMingChen:">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
