@{
    Layout = null;
}
@model List<Models.ZhiWeiBiao>
<!DOCTYPE html>

<html>
<head>
    <title>修改学生阶段</title>
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/MyFsLayui/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/MyFsLayui/css/fs.css" media="all" />
    <script type="text/javascript" src="/MyFsLayui/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/fsDict.js?v=1.7.0"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/fs.js?v=1.7.0"></script>
    <script type="text/javascript" src="/MyFsLayui/plugins/frame/js/frame.js?v=1.7.0"></script>


</head>
<body>
    <div class="layui-fluid">

        <form class="layui-form" id="edit_form" isload="1" method="get" loadurl="/YuanGong/EditGetData">
            <input type="hidden" name="ID" />

            <div class="layui-form-item">
                <label class="layui-form-label">员工姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="Name" required="" lay-vertype="tips" lay-verify="required"
                           placeholder="请输入员工姓名" autocomplete="off" class="layui-input" />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="checkbox" name="YuanGongZhuangTai" lay-skin="switch" lay-text="在职|离职" value="true" checked>
                </div>
                <label class="layui-form-label">职位</label>
                <div class="layui-input-inline">
                    <select name="ZhiWeiID" lay-verify="required">
                        <option value="-1">--不限--</option>
                        @foreach (var a in Model)
                        {
                            <option value="@a.ID">@a.ZhiWeiMing</option>
                        }
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">擅长课程</label>
                <div class="layui-input-block">
                    <input type="text" name="ShanChangKeCheng" required="" lay-vertype="tips" lay-verify="required"
                           placeholder="请输入擅长课程" autocomplete="off" class="layui-input" />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="text" name="Phone" required="" lay-vertype="tips" lay-verify="required"
                           placeholder="请输入电话号码" autocomplete="off" class="layui-input" />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">员工住址</label>
                <div class="layui-input-block">
                    <input type="text" name="Address" required="" lay-vertype="tips" lay-verify="required"
                           placeholder="请输入员工住址" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="BeiZhu" required="" lay-vertype="tips" lay-verify="required"
                           placeholder="请输入备注" autocomplete="off" class="layui-input" />
                </div>
            </div>
            <hr />
            <div class="layui-form-item" style="text-align: center;">
                <button class="layui-btn" lay-submit="" lay-filter="edit" url="/YuanGong/EditAction"><i class="layui-icon">&#xe642;</i>修改</button>
                <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
            </div>
        </form>
    </div>
</body>
</html>
