@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddZhiWeiQ</title>
</head>
<body>
    <div>
        <label>职位名称：</label>
        <input id="ZhiWeiMingCheng" type="text" name="ZhiWeiMingCheng" placeholder="请输入职位名称"/>
    </div>
</body>
</html>
